<h1><%= title %>! </h1>

<%= link_to("Home", :controller => :menu, :action => :index) %>

<h2>Results</h2>
<div class="results">
<table class="results">
  <%
  data.each do |row|
  %>
    <tr>
      <%
      row.each do |col|
      %>
        <td class="cell"><%= col %></td>
      <%
      end
      %>
    </tr>
  <%
  end
  %>
</table>
</div>
