#*********************************************************************
#   Copyright 2019 Regents of the University of California
#   All rights reserved
#*********************************************************************
version: '3.7'
services:
  admin:
    container_name: admin-proto
    image: cdluc3/mrt-admin-proto
    build:
      context: .
      dockerfile: Dockerfile
    ports:
    - published: 8085
      target: 9292
    volumes:
    - type: bind
      source: ./config/database.yml
      target: /app/config/database.yml
    environment:
      - MERRITT_URL: http://merritt-stage.cdlib.org
    stdin_open: true
    tty: true
