<h1>Menu#index</h1>
<p>Find me in app/views/menu/index.html.erb</p>

<ul>
  <li><%= link_to("Test", :controller => :query, :action => :test) %></li>
  <li><%= link_to("Large Objects", :controller => :query, :action => :large_object) %></li>
  <li>Mime Type Query</li>
  <li>Holdings by Owner</li>
  <li>ARK's with Unicode</li>
  <li>Objects with many files</li>
</ul>
