/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 100%;
}

div.results {
  margin: 0 0 auto;
}

table.results {
  border-collapse: collapse;
  width: 80%;
}

table.results th,
table.results td {
  border: thin solid black;
  padding: 4px;
}

table.results th.data,
table.results td.data,
table.results th.dataint,
table.results td.dataint {
  text-align: right;
}

table.results th.cell,
table.results td.cell {
  width: 100px;
}

table.results th.mime,
table.results td.mime,
table.results th.name,
table.results td.name {
  width: 300px !important;
}

table.results th.mnemonic,
table.results td.mnemonic {
  width: 150px !important;
  max-width: 150px !important;
}

table.results tr.row:nth-child(even) th.cell,
table.results tr.row:nth-child(even) td.cell {
  background-color: #EEE;
}

table.results tr.total th.cell,
table.results tr.total td.cell {
  background-color: #F68D2E;
}

table.results tr.grandtotal th.cell,
table.results tr.grandtotal td.cell {
  background-color: #77913B;
}

table.results tr.specialtotal th.cell,
table.results tr.specialtotal td.cell {
  background-color: #D0D0D0;
}

table.results tr.header th,
table.results tr.header td {
  background-color: yellow;
}
